# 指定格式化语言为c++
Language: Cpp

AccessModifierOffset: -4

AlignConsecutiveAssignments: false

AlignConsecutiveDeclarationsL: false

AlignEscapedNewlinesLeft: false

AlignOperands: true

AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true

AllowShortLambdasOnASingleLine: Empty

AllowParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: false

AllowShortCaseLabelsOnASingleLine: false

AllowShortFunctionOnASingleLine: false

AllowShortIfStatementsOnASingLine: false

AllowShortLoopOnASingLine: false

AlwayBreakAfterDefinitionReturnType: None

AlwayBreakBeforeMultilineStrings: false

AlwayBreakTemplateDeclarations: MultiLine

BinPackArguments: true

BinPackParameters: true

AlignAfterOpenBracket: DontAlign

BraceWrapping:

  AfterCaseLable: false

  AfterClass: false

  AfterControlStatement: Never

  AfterEnum: false

  AfterFunction: true

  AfterNamespace: false

  AfterObjCDeclaration: false

  AfterStruct: false

  AfterUnion: false

  AfterExternBlock: false

  BeforeCatch: false

  BeforeElse: false

  IndentBraces: false

  SplitEmptyFunction: true

  SplitEmptyRecord: true

  SplitEmptyNamespace: true

BreakBeforeBinaryOperators: All

BreakBeforeBraces: Custom

BreakBeforeTernaryOperators: true

BreakConstructorInitializersBeforeComma: false

BreakInheritanceList: AfterColon

ColumnLimit: 120

CommentPragmas: '^ IWYU pragma:'

ConstructorInitializerAllOnOneLineOrOnePerLine: false

ConstructorInitializerIndentWidth: 4

ContinuationIndentWidth: 4

CppllBracedListStyle: true

BerivePointerAlignment: false

DisableFormat: false

ExperimentalAutoDetectBinPacking: false

ForEachMacros: [ foreach, Q_FOREACH, BOOST_FOREACH ]

IncludeCategories:

  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2

  - Regex: '^(<|"(gtest|lsl|json)/)'
    Priority: 3

  - Regex: '.*'
    Priority: 1

IndentCaseLabels: true

IndentWidth: 4

IndentWrappedFunctionNames: false

KeepEmptyLinesAtTheStartOfBlocks: false

MacroBlockBegin: ''
MacroBlockEnd: ''

MaxEmptyLinesToKeep: 1

NamespaceIndentation: Inner

ObjCBlockIndentWidth: 4

ObjCSpaceAfterProperty: true

ObjCSpaceBeforeProtocolList: true

PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60

PointerAlignment: Right

# ReferenceAlignment: Right

ReflowComments: true

SortIncludes: false

SpaceAfterCStyleCast: false

SpaceBeforeAssignmentOperators: true

SpaceBeforeParens: ControlStatements

SpaceInEmptyParentheses: false

SpacesBeforeTrailingComments: 1

SpacesInAngles: false

SpacesInContainerLiterals: true

SpacesInCStyleCastParentheses: false

SpaceInParentheses: false

SpacesInSquareBrackets: false

Standard: Latest

TabWidth: 4

UseTab: Never

UseCRLF: false