**/.idea/
**/.vscode/
**/cmake-build-debug/
**/cmake-build-release/
**/output/
**/build/
**/build_test/
**/tmp/
**/CMakeFiles/
**/_deps/
**/hccl_vm_install/
**/lib64/
**/hccl_device_install/
**/build_device/
**/node_modules/
**/dist/
/coverage_report/
/ut_logs/
/third_party/
*:Zone.Identifier